html {
  font-size: 14px;
}

body {
  font-family: var(--font-regular);
  @apply py-10;
}

p {
  @apply mb-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--color-primary);
  font-family: var(--font-cursive);
}

h1 {
  @apply text-3xl;
  line-height: 2.25rem;
  @apply mb-2;
}

h2 {
  @apply text-xl;
  line-height: 1.5rem;
  @apply mb-2;
}

h3 {
  @apply text-lg;
  @apply mb-1 mt-3;
  @apply font-semibold;
  color: var(--color-secondary);
  line-height: 1.25rem;
}

h2 + .span-all-columns {
  @apply mt-2;
}

a {
  color: var(--color-primary);
}

#cover-image {
  display: block;
  min-width: 100%;
  background-image: url('http://localhost:3000/images/Kargochtonothep.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.cover-title-container h1:not(.cover-title) {
  display: none;
}

.cover-title-container .cover-title {
  text-transform: capitalize;
  font-size: 14px;
  color: #00fff5;
  width: 23rem;
  height: 15rem;
  border: 3px solid;
  padding: 1rem 2.5rem;
  margin: 0;
  text-align-last: justify;
  line-height: 2.5;
  display: flex;
  align-items: center;
}

.cover-title-container .cover-title--author {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.page-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /*background: url('http://localhost:3000/images/paper-bg-edit-small.jpg') no-repeat center center;*/
  background-size: cover;
  margin: 0;
  padding: 0;
}

.content h2:not(:first-of-type),
.content h3:not(:first-of-type),
.content h4:not(:first-of-type),
.content h5:not(:first-of-type) {
  @apply mt-6;
  @apply mb-1;
}

.page-top-header {
  color: var(--color-muted);
  font-family: var(--font-cursive);
  @apply text-sm;
  @apply text-center;
}

.page-bottom-footer {
  @apply fixed;
  @apply bottom-4;
  @apply left-1/2;
  @apply -translate-x-1/2;
  @apply transform;
  @apply text-center;
  @apply text-sm;
  @apply text-gray-400;
}

.no-page-break {
  break-inside: avoid;
}

main {
  @apply mx-auto;
  /*@apply w-full;*/
  /*@apply max-w-screen-xl;*/
  @apply flex-grow;
  @apply text-base;
  font-size: 10px;
  width: 1120px; /*PDF page width*/
}

/* yeah */
main main {
  width: auto;
}

.content {
  @apply pt-8;
  @apply pb-2;
  @apply text-left;
  /*word-wrap: break-word;*/
  word-break: keep-all;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

ul,
ol {
  @apply ml-6;
  @apply my-2;
}

ol li::marker {
  @apply font-bold;
}

ul li,
ol li {
  @apply mb-2;
}

p:empty {
  display: none;
}

.ref-insert {
  @apply my-1.5 p-2.5;
  /*@apply border-l-2;*/
  background-color: var(--color-lighter-bg);
  border-color: var(--color-secondary);
}

.ref-insert > * {
  @apply text-sm;
}

.ref-insert header {
  @apply mb-2 text-base font-semibold;
  color: var(--color-primary);
  font-family: var(--font-cursive);
}

.ref-insert header ~ main {
  break-before: avoid;
}

.ref-insert main ul {
  @apply ml-0;
}
.ref-insert main ul li {
  @apply mb-0 list-none;
}
.ref-insert main ul li em {
  @apply text-amber-900;
}

.ref-insert main p:last-of-type {
  @apply mb-0;
}

.stats-insert {
  @apply my-2;
}

.stat-record .stat-name {
  @apply font-bold text-amber-900;
}

blockquote {
  color: var(--color-secondary);
  font-family: var(--font-cursive);
  @apply font-bold;
}

blockquote p {
  margin-bottom: 0;
}

.info-message {
  background-color: var(--color-light-bg);
  color: #5a3d2b;
  @apply my-2 px-2 py-2;
  @apply text-sm italic;
}

.quote {
  color: var(--color-secondary);
  font-family: var(--font-cursive);
  margin: 0 auto;
  text-align: left;
  @apply mb-4;
}

.dummy {
  height: 100%;
  min-height: 500px;
  background: #efefef;
}
