.two-columns {
  column-count: 2;
  column-gap: 10px;
  /*column-fill: auto;*/
}

.two-columns--border {
  column-rule: 1px solid var(--color-muted);
}

.span-all-columns {
  column-span: all;
}

.col-break {
  break-before: column; /* Force a column break here */
  height: 0; /* Ensures the div itself doesn't take up space */
  margin: 0; /* No margin to avoid unnecessary spacing */
  padding: 0; /* No padding to avoid unnecessary spacing */
}
