.page-name--khinis-poi {
  .content > ul:first-of-type {
    column-count: 2;
    color: var(--color-accent);
    @apply mt-3;
  }

  ul {
    li {
      p {
        margin: 0 !important;
      }
    }
  }

  ul ul li {
    color: #333;
  }
}

.page-name--equip {
  table {
    break-inside: auto;
  }
}

.page-name--names {
  .content {
    /*column-count: 2;*/
  }

  .room-section {
    & > p,
    & > h1,
    & > h2,
    & > h3 {
      column-span: all;
    }
  }
}
