.page-name--khinis-poi {
  .content > ul:first-of-type {
    column-count: 2;
    color: var(--color-accent);
    @apply mt-3;
  }

  ul {
    li {
      p {
        margin: 0 !important;
      }
    }
  }

  ul ul li {
    color: #333;
  }
}
