:root {
  --color-accent: #c39861;
  --color-accent-2: #e6b462;
  --color-darker-bg: #a68b6a;
  --color-light-bg: #c7a1c71f;
  --color-primary: #b87333;
  --color-secondary: #a68b6a;
  --color-secondary-bg: #eed5b7;
  --color-muted: #ddd;
  --color-muted-text: #e3ab67ff;
  --color-light-bg: rgba(238, 213, 183, 0.25);
  --color-lighter-bg: rgba(238, 213, 183, 0.1);

  --font-regular: 'Roboto', sans-serif;
  --font-cursive: 'El Messiri', serif;
  --font-book-title: 'BookTitle', serif;
  --font-author-title: 'UnifrakturCook', serif;
  --font-regular-condensed: 'Fira Sans Condensed', sans-serif;
  --font-mono: 'Ubuntu Mono', monospace;

  --color-map-label: #be0035;
  --color-map-font: Playfair Display;
}

/************************* COVER ********************************/

.cover-title-container {
  /*margin-top: -28rem;*/
}

.cover-title-container .cover-title {
  font-size: 17rem;
  line-height: 1;
  /*max-width: 300px;*/
  font-family: var(--font-book-title);
  font-weight: normal;
}

.cover-title--author {
  font-weight: normal;
  font-family: var(--font-author-title);
  font-size: 1.6rem;
  margin-top: 48rem !important;
}

.cover-title--bottom {
  bottom: 10px;
}

.cover-title--subtitle {
  display: none;
}

#cover-image {
  /*background-image: url('http://localhost:3001/images/copyright/zb-pinturas-60-00--41.jpg');*/
  background-size: cover;
  background-position-y: center;
}

.back-cover-text-container {
  background: rgba(255, 255, 255, 0.6);
  color: #474537;
  border-color: #fff;
}
